In [2]:
import pandas as pd
df = pd.read_csv("latihan.csv", sep=",")
print(df)

  student_id   name gender  age        major  math_score  english_score  \
0       S001   Andi      M   20  Informatics          78             85
1       S002   Budi      M   21  Informatics          65             70
2       S003  Citra      F   19   Statistics          88             90
3       S004   Dina      F   20   Statistics          90             88
4       S005    Eko      M   22      Physics          55             60
5       S006  Fajar      M   21      Physics          60             65
6       S007   Gita      F   20  Informatics          85             87
7       S008   Hani      F   19      Physics          92             91
8       S009  Iqbal      M   23   Statistics          70             68
9       S010   Joko      M   20  Informatics          75             78

   science_score  attendance  study_hours
0             80          90           12
1             72          85            8
2             92          95           15
3             94          98           16
4             58          70            5
5             63          75            6
6             89          92           14
7             94          97           17
8             72          80            9
9             74          88           10

In [7]:
# menampilkan 5 data pertama
print(df.head())

  student_id   name gender  age        major  math_score  english_score  \
0       S001   Andi      M   20  Informatics          78             85
1       S002   Budi      M   21  Informatics          65             70
2       S003  Citra      F   19   Statistics          88             90
3       S004   Dina      F   20   Statistics          90             88
4       S005    Eko      M   22      Physics          55             60

   science_score  attendance  study_hours
0             80          90           12
1             72          85            8
2             92          95           15
3             94          98           16
4             58          70            5

In [ ]:
# menampilkan 5 data terbelakang
print(df.tail())

  student_id   name gender  age        major  math_score  english_score  \
5       S006  Fajar      M   21      Physics          60             65
6       S007   Gita      F   20  Informatics          85             87
7       S008   Hani      F   19      Physics          92             91
8       S009  Iqbal      M   23   Statistics          70             68
9       S010   Joko      M   20  Informatics          75             78

   science_score  attendance  study_hours
5             63          75            6
6             89          92           14
7             94          97           17
8             72          80            9
9             74          88           10

In [ ]:
# menampilkan bentuk data berapa kali berapa
print(df.shape)

(10, 10)

In [ ]:
# menampilkan nama dari kolom apa saja yang ada di situ
print(df.columns)

Index(['student_id', 'name', 'gender', 'age', 'major', 'math_score',
       'english_score', 'science_score', 'attendance', 'study_hours'],
      dtype='object')

In [12]:
# menammpilkan info dari data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   student_id     10 non-null     object
 1   name           10 non-null     object
 2   gender         10 non-null     object
 3   age            10 non-null     int64
 4   major          10 non-null     object
 5   math_score     10 non-null     int64
 6   english_score  10 non-null     int64
 7   science_score  10 non-null     int64
 8   attendance     10 non-null     int64
 9   study_hours    10 non-null     int64
dtypes: int64(6), object(4)
memory usage: 928.0+ bytes
None

In [4]:
# melihat statistik dasar
# melihat info mengenai data
print(df.describe())

             age  math_score  english_score  science_score  attendance  \
count  10.000000   10.000000      10.000000      10.000000    10.00000
mean   20.500000   75.800000      78.200000      78.800000    87.00000
std     1.269296   13.062244      11.545081      13.079246     9.46338
min    19.000000   55.000000      60.000000      58.000000    70.00000
25%    20.000000   66.250000      68.500000      72.000000    81.25000
50%    20.000000   76.500000      81.500000      77.000000    89.00000
75%    21.000000   87.250000      87.750000      91.250000    94.25000
max    23.000000   92.000000      91.000000      94.000000    98.00000

       study_hours
count      10.0000
mean       11.2000
std         4.2374
min         5.0000
25%         8.2500
50%        11.0000
75%        14.7500
max        17.0000

In [ ]:
# mengambil nilai rata-rata berdasarkan nama kolom
print(df[['age']].mean)

<bound method DataFrame.mean of    age
0   20
1   21
2   19
3   20
4   22
5   21
6   20
7   19
8   23
9   20>

:

In [ ]:
df['nilai']=pd.to_numeric